In [251]:
import pandas as pd
import sqlite3 as sq
import numpy as np

trainset='./comp3208-2017-train.csv'
data=pd.read_csv(trainset,encoding ="ISO-8859-1",sep=",",header=0,names=["users", "items", "ratings"])

#conn = sq.connect("train.db")
#table_name = 'ratings';

col_name = data.columns[1]
data=data.rename(columns = {col_name:'obj'})
data.obj

0           62364
1           37748
2            8630
3           68679
4           61575
5           13050
6           26672
7           16122
8           59743
9           47980
10          17400
11          33898
12          14430
13          76438
14          21265
15          60341
16          23458
17          66918
18          71369
19          54954
20          61636
21          68269
22          66400
23          56237
24           5243
25          60008
26          72472
27          32411
28          48683
29          20919
            ...
16045620    33267
16045621    28519
16045622    22347
16045623    23157
16045624    41072
16045625    23196
16045626    75889
16045627    37295
16045628    60746
16045629    58012
16045630    51703
16045631    35809
16045632    17045
16045633    11424
16045634    75711
16045635    22161
16045636    32470
16045637    75181
16045638    16622
16045639    12335
16045640    18999
16045641    64303
16045642    49643
16045643    61087
16045644     9017
16045645    67773
16045646    26772
16045647    19643
16045648     7157
16045649      176
Name: obj, dtype: int64

In [17]:
# The following commands are impossible to execute due to memory issues. 
# ratingsMatrix = pd.pivot_table(data, values='ratings',index=['users'],columns=['items'])
# ratingsMatrix.head()

In [378]:
def evaluatePearson (u1, u2):
    I = list()
    idx1 = list()
    idx2 = list()
    user1 = data[data.users == u1]
    user2 = data[data.users == u2]
    avg1 = np.mean(user1.ratings)
    avg2 = np.mean(user2.ratings)
    for i, it1 in enumerate(user1.obj):
        for j, it2 in enumerate(user2.obj):
            if it1 == it2:
                idx1.append(user1.obj.index[i])
                idx2.append(user2.obj.index[j])
    
    if len(idx1)>0:
        rat1 = user1.ratings[idx1]
        rat2 = user2.ratings[idx2]
        diff1 = [x - avg1 for x in rat1]
        diff2 = [x - avg2 for x in rat2] 
        num = np.dot(diff1,diff2)
        den = np.dot(np.sqrt(np.sum(np.power(diff1,2))),np.sqrt(np.sum(np.power(diff2,2))))
        return num/den
    else:
        return float('nan')
            
print evaluatePearson(1,165)

0.903589304192