# CSV import

In [417]:
import pandas as pd
import sqlite3 as sq
import numpy as np

trainset='./comp3208-2017-train.csv'
data=pd.read_csv(trainset,encoding ="ISO-8859-1",sep=",",header=0,names=["users", "items", "ratings"])

#conn = sq.connect("train.db")
#table_name = 'ratings';

col_name = data.columns[1]
data=data.rename(columns = {col_name:'obj'})

# Definition of the function <i> evaluatePearson() <i>

The following commands are impossible to execute due to memory issues: <br>
    ratingsMatrix = pd.pivot_table(data, values='ratings',index=['users'],columns=['items']) <br>
    ratingsMatrix.head()

In [415]:
def evaluatePearson (u1, u2):
    I = list()
    idx1 = list()
    idx2 = list()
    user1 = data[data.users == u1]
    user2 = data[data.users == u2]
    avg1 = np.mean(user1.ratings)
    avg2 = np.mean(user2.ratings)
    for i, it1 in enumerate(user1.obj):
        for j, it2 in enumerate(user2.obj):
            if it1 == it2:
                idx1.append(user1.obj.index[i])
                idx2.append(user2.obj.index[j])
    
    if len(idx1)>0:
        rat1 = user1.ratings[idx1]
        rat2 = user2.ratings[idx2]
        diff1 = [x - avg1 for x in rat1]
        diff2 = [x - avg2 for x in rat2] 
        num = np.dot(diff1,diff2)
        den = np.dot(np.sqrt(np.sum(np.power(diff1,2))),np.sqrt(np.sum(np.power(diff2,2))))
        return num/den
    else:
        return float('nan')
            
print evaluatePearson(7,8)

1.0

# Creation of the similarity matrix

In [418]:
u = list(range(1, 8469))
similarity = pd.DataFrame(np.random.randint(low=0, high=1, size=(8468, 8468)),index=u,columns=u)

for i in list(range(1, 20)):
    for j in list(range(i, 20)):
        similarity.loc[i,j] = evaluatePearson(i,j)
        if i != j:
            similarity.loc[j,i] = similarity.loc[i,j]
            
similarity[1:15][1:15]

,1,2,3,4,5,6,7,8,9,10,...,8459,8460,8461,8462,8463,8464,8465,8466,8467,8468
3,NaN,NaN,1.000000,NaN,NaN,NaN,0.553458,1.0,1.0,NaN,...,0,0,0,0,0,0,0,0,0,0
4,0.312093,NaN,NaN,1.000000,NaN,NaN,0.795037,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5,NaN,0.732424,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,0.930681,...,0,0,0,0,0,0,0,0,0,0
6,NaN,1.000000,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,0.986041,...,0,0,0,0,0,0,0,0,0,0
7,-0.274880,NaN,0.553458,0.795037,NaN,NaN,1.000000,1.0,1.0,NaN,...,0,0,0,0,0,0,0,0,0,0
8,NaN,NaN,1.000000,NaN,NaN,NaN,1.000000,1.0,1.0,NaN,...,0,0,0,0,0,0,0,0,0,0
9,NaN,NaN,1.000000,NaN,NaN,NaN,1.000000,1.0,1.0,NaN,...,0,0,0,0,0,0,0,0,0,0
10,NaN,0.288452,NaN,NaN,0.930681,0.986041,NaN,NaN,NaN,1.000000,...,0,0,0,0,0,0,0,0,0,0
11,1.000000,NaN,-1.000000,1.000000,NaN,NaN,1.000000,NaN,NaN,-1.000000,...,0,0,0,0,0,0,0,0,0,0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.765293,...,0,0,0,0,0,0,0,0,0,0
15,NaN,1.000000,NaN,NaN,1.000000,0.991289,NaN,NaN,NaN,0.018182,...,0,0,0,0,0,0,0,0,0,0