In [6]:
import pandas as pd
import sqlite3 as sq

trainset='./comp3208-2017-train.csv'
data=pd.read_csv(trainset,encoding ="ISO-8859-1",sep=",",header=0,names=["users", "items", "ratings"])

#conn = sq.connect("train.db")
#table_name = 'ratings';
data[data['users'] == 1]

    users  items  ratings
0       1  62364      5.0
1       1  37748      4.0
2       1   8630      1.0
3       1  68679     10.0
4       1  61575      1.0
5       1  13050     10.0
6       1  26672      2.0
7       1  16122      3.0
8       1  59743      4.0
9       1  47980      8.0
10      1  17400      1.0
11      1  33898     10.0
12      1  14430      3.0
13      1  76438      4.0
14      1  21265      1.0
15      1  60341      2.0
16      1  23458      6.0
17      1  66918     10.0
18      1  71369      4.0
19      1  54954      6.0
20      1  61636      1.0
21      1  68269      2.0
22      1  66400      5.0
23      1  56237      1.0
24      1   5243      8.0
25      1  60008      8.0
26      1  72472      4.0
27      1  32411      5.0
28      1  48683      7.0
29      1  20919     10.0
30      1  21686      1.0
31      1  70372      1.0
32      1  21453      3.0
33      1  10740      5.0
34      1  38859     10.0
35      1  38828      8.0
36      1  55115      6.0
37      1  36775      1.0
38      1   2300     10.0
39      1  53664      3.0
40      1  33015      3.0
41      1  17001      1.0
42      1  13107      2.0
43      1  32873      5.0
44      1   8450      5.0
45      1  22020      5.0