In [25]:
import pandas as pd
import sqlite3 as sq
import numpy as np

trainset='./comp3208-2017-train.csv'
data=pd.read_csv(trainset,encoding ="ISO-8859-1",sep=",",header=0,names=["users", "items", "ratings"])

#conn = sq.connect("train.db")
#table_name = 'ratings';
data[data['users'] == 3]

     users  items  ratings
153      3  18911      8.0
154      3  58788      8.0
155      3   9212      2.0
156      3   5758      2.0
157      3  10914      8.0
158      3  12613      2.0
159      3  30628      7.0
160      3  58077      7.0
161      3  28494      3.0
162      3  28564     10.0
163      3  59329     10.0
164      3  59790      4.0
165      3  19633      3.0
166      3  21498      8.0
167      3  77011      5.0
168      3  43221      4.0
169      3  77149      4.0
170      3   2922      7.0
171      3  28507      4.0
172      3  51339      2.0

In [17]:
# The following commands are impossible to execute due to memory issues. 
# ratingsMatrix = pd.pivot_table(data, values='ratings',index=['users'],columns=['items'])
# ratingsMatrix.head()

In [178]:


def evaluatePearson (u1, u2):
    I = list()
    user1 = data[data['users'] == u1]
    user2 = data[data['users'] == u2]
    avg1 = np.mean(user1.ratings)
    avg2 = np.mean(user2.ratings)
    for it1 in user1['items']:
        for it2 in user2['items']:
            if it1 == it2:
                I.append(it1)
    rat1 = user1[user1['items'] == I]['ratings']
    rat2 = user2[user2['items'] == I]['ratings']
    diff1 = [x - avg1 for x in rat1]
    diff2 = [x - avg2 for x in rat2] 
    print np.sum(diff1*diff2)
            
evaluatePearson(12434,7)

[-5.2105263157894735, -1.2105263157894735, -0.21052631578947345]

In [86]:
data[data['users'] == 12112]['items']

1472599    24090
1472600    17042
1472601    12610
1472602     9284
1472603    51448
1472604     5758
1472605    39036
1472606    10914
1472607    13050
1472608     8802
1472609    26018
1472610      513
1472611    25176
1472612    40976
1472613    46804
1472614    61502
1472615    12764
1472616    60967
1472617    56302
1472618    22181
Name: items, dtype: int64

In [87]:
data[data['users'] == 7]['items']

460    62224
461    49760
462    44960
463     9583
464    10840
465    60903
466    10643
467    62802
468    50309
469    76040
470    53660
471     5758
472    55894
473    10914
474    25336
475    13050
476    13384
477    27408
478    38892
479    66471
480    20577
481    15430
482     5247
483     5433
484    50157
485    46184
486    45083
487    47652
488    75548
489    42063
       ...
519    31583
520      934
521    60751
522      992
523    59458
524    34357
525    51250
526    12062
527    79283
528     6134
529    38873
530    28047
531    71458
532    43874
533    60967
534    22818
535    77362
536    51095
537    63111
538    18896
539    42785
540     8643
541    57702
542    25270
543    19242
544    47933
545    77681
546    74697
547    70116
548    76305
Name: items, dtype: int64